html, body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: Helvetica;
}
/* Inicio de Navbar */
nav {
  display: flex;
  background-color: #054e79;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

div img {
  width: 80px;
  height: 80px;
}

nav ul {
  display: flex;
}

nav li {
  margin-right: 20px;
  list-style: none;
}

nav li a {
  color: #eef5dd;
  text-decoration: none;
}

nav li a:hover {
  color: white;
}
/* Fin de Navbar */

/* Inicio de Main Section */

.main-section {
  padding: 15%;
  text-align: center;
}

.products {
  background-image: url('../img/curve.png');
  background-size: cover;
  background-position: center top;
  padding: 10%;
  display: flex;
  width: 80%;
}

.product {
  padding: 20px;
  margin-top: -250px;
  width: auto;
}

.product .content {
  background-color: white;
  padding: 15px;
  border-style: solid;
  border-color: teal;
  border-radius: 20px;
  text-align: center;
}

.img-content {
  text-align: center;
}

.main-button {
  background-color: #7acc2d;
  width: 100%;
  font-size: 15px;
  padding: 10px;
  color: white;
  border: 0;
  border-radius: 20px;
}

.main-button:hover {
  background-color: #5e9e22;
  cursor: pointer;
}

.section-objects {
  display: flex;
  justify-content: center;
}

.objects-title {
  position: absolute;
}

.div-section-objects {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 50%;
  margin-top: 50px;
}

.div-section-objects .objects-content {
  background-color: white;
  padding: 20px;
  border-style: double;
  border-radius: 20px;
  margin: 20px;
}

.objects-img {
  text-align: center;
}

/* Fin de Main Section */
